<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body class="text-center"  >
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" style="justify-content: center">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Evaluating the tone of reviewst</h1>
    <p class="lead">You can leave your review about the watched movie or read book.</p>
    <p class="lead">
      <a href="{% url 'review' %}" class="btn btn-lg btn-secondary ">write review</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Developer <a href="https://hh.ru/resume/0e86e299ff07bc70a70039ed1f634c49476846">Alan Tedeev</a></p>
    </div>
  </footer>
</div>
</body>

</body>
</html>